body {
     background-color: #181818!important;
     color: white!important;
}
.heading-span {
     color: #39ad31;
}
.containe-xxl {
     max-width: 1330px !important;
     margin: 0 auto !important;
}